<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="ISO-8859-1">
  <title>Assortment</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </div>
</nav>
<br><br><br><br><br><br><br>

<h1>Assortment</h1>

<table>
  <thead>
  <tr>
    <th>exbarBody</th>
    <th>packName</th>
    <th>packQuant</th>
    <th>packType</th>
    <th>packPrice</th>
    <th>packBonus</th>
    <th>unitName</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="assortment : ${assortmentList}">
    <td th:text="${assortment.exbarBody}"></td>
    <td th:text="${assortment.packName}"></td>
    <td th:text="${assortment.packQuant}"></td>
    <td th:text="${assortment.packType}"></td>
    <td th:text="${assortment.packPrice}"></td>
    <td th:text="${assortment.packBonus}"></td>
    <td th:text="${assortment.unitName}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>